.accordion-item {
  .accordion-button {
    color: var(--idb-accordion-button-color);
    gap: 0.5rem;

    font-weight: 600;
    font-size: var(--idb-font-size-text);
    line-height: var(--idb-line-height-text);

    &:not(.collapsed) {
      color: var(--idb-accordion-open-button-color);
      background-color: #fff;
    }
  }
}
