{% extends "package/read_base.html" %}
{% import 'macros/form.html' as form %}

{% set default_group_type = h.default_group_type('group') %}
{% set entity_type = h.humanize_entity_type('group', default_group_type, 'default label') or _('group') %}
{% set entity_type_plural = h.humanize_entity_type('group', default_group_type, 'page title') or _('Groups') %}

{% block primary_content_inner %}
    {{ ui.heading(entity_type_plural, level=1) }}

    {% if group_dropdown %}
        {%- call ui.util.call(ui.form, method="POST", attrs={"class": "add-to-group"}) -%}
            <select id="field-add_group" name="group_added" data-module="autocomplete">
                {% for option in group_dropdown %}
                    <option value="{{ option[0] }}"> {{ option[1] }}</option>
                {% endfor %}
            </select>

            {{ ui.button(_('Add to {entity_type}').format(entity_type=entity_type), type="submit", aria={"label": _('Associate this {entity_type} with this dataset').format(entity_type=entity_type)}) }}
        {%- endcall %}

    {% endif %}

    {% if pkg_dict.groups %}
        {%- call ui.util.call(ui.form, method="POST") -%}
            {% snippet 'group/snippets/group_list.html', groups=pkg_dict.groups %}
        {%- endcall %}
    {% else %}
        {{ ui.empty(h.humanize_entity_type('group', default_group_type, 'no associated label') or _('There are no groups associated with this dataset.')) }}
    {% endif %}

{% endblock %}
