{% set groups = h.get_featured_groups(count=6) %}
{% set group_type = h.default_group_type('group') %}
{% set group_type_plural = h.humanize_entity_type('group', group_type, 'facet label') or _('Groups') %}
{{ ui.heading(group_type_plural, level=2) }}

<ul class="featured-groups">
    {% for group in groups %}
        {{ ui.group(group=group) }}
    {% endfor %}
</ul>
<div>
    {{ ui.button(_('View all {entity_type}').format(entity_type=group_type_plural), style="primary-outline", href=h.url_for('group.index')) }}
</div>
