{% extends "user/login.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_('Register')) }}
    {{- super() }}
{%- endblock %}

{% block breadcrumb_content -%}
    {{ ui.breadcrumb(_('Registration'), href=h.url_for('user.register'), active=true) }}
{%- endblock %}

{% block page_heading %}{{ _('Register for an Account') }}{% endblock %}

{% block form %}
    {{ form | safe }}
{% endblock %}

{% block primary_content_inner %}
    {% block help %}
        {% block help_inner %}
            {% set group_type = h.default_group_type('group') %}
            {% set entity_type_plural = h.humanize_entity_type('group', group_type, 'facet label') or _('groups') %}
            <p>{{ _("Create datasets, {entity_type} and other exciting things").format(entity_type=entity_type_plural) }}</p>
        {% endblock %}
    {% endblock %}
{% endblock %}
